/* --- HEADER --- */

header {
    background: url('../../Assets/Images/homeBg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#destinyHomeButton {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    padding: 3% 6%;
    border: 1px solid black;
    border-radius: 150px;
    text-align: center;

    background: transparent;
    backdrop-filter: blur(10px);
}

header a img {
    width: 50%;
}

#destinyHomeButton:active {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0px 4px 8px rgba(0, 0, 0, 0.15),
        inset 0px 8px 16px rgba(0, 0, 0, 0.15),
        inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.1s;
    margin-top: 0.1%;
}

/* --- MAIN --- */

main {
    height: 100%;
    width: 100%;
    background: #c4c4c4
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10%;
}

#mainVideo {
    margin-top: 15%;
    width: 850px;
    height: 500px;
}

#mainVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

#mainText {
    margin-top: 15%;
    height: 390px;
    width: 950px;
    display: grid;
    place-items: center;

    background-color: #c4c4c4;
    border-radius: 40px;
    
    color: black;
}

#mainText p {
    text-align: center;
    margin: 1% 2%;
}

#mainText a {
    
    color: black;
    text-align: center;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 100px;
    box-shadow: #333 4px 4px 0px;
    transition: transform 100ms, box-shadow 100ms;
    padding: 3% 6%;
}

#mainText a:hover {
    background: darkslateblue;
    transition: .5s;
}

#mainText a:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #333 0px 0px 0px;
}
