body{
    background: url('../../Assets/Images/DoctrineBg.jpg') no-repeat center center fixed;
    background-size: cover;
}

section{
    height: 100vh;
    color: white;
}

.mainDoctrine{
    position: absolute;
}

.card {
    padding-top: 5%;
    background-color: transparent;
}

.text {
    background-color: #c4c4c4;
    border-radius: 25px;
    text-align: center;
    width: 70%;
    padding: 5%;
    margin: 5% auto;
}

.button {
    text-align: center;
    margin-bottom: 5% ;
}

.button img {
    width: 10%;
    height: auto;
    border-radius: 25px;
}

.post-it{
    background-color: #4b3d3d;
    border-radius: 10px;
    padding: 2%;
    width: 40%;

    position: relative;
    z-index: 0;
    top: 50%;
    left: 1%;
}


/* --- Arcanist --- */
.arcaniste {
    background: url('../../Assets/Images/Arcaniste.jpg') no-repeat center center fixed;
    background-size: cover;
}

.arcaniste-solaire {
    background: url('../../Assets/Images/Arcaniste-Solaire.jpg') no-repeat center center fixed;
    background-size: cover;
}

.arcaniste-abyssale {
    background: url('../../Assets/Images/Arcaniste-Abyssale.jpg') no-repeat center center fixed;
    background-size: cover;
}

.arcaniste-cryo {
    background: url('../../Assets/Images/Arcaniste-Cryo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* --- Chasseur --- */
.chasseur {
    background: url('../../Assets/Images/Chasseur.jpg') no-repeat center center fixed;
    background-size: cover;
}

.chasseur-solaire {
    background: url('../../Assets/Images/Chasseur-Solaire.jpg') no-repeat center center fixed;
    background-size: cover;
}

.chasseur-abyssale {
    background: url('../../Assets/Images/Chasseur-Abyssale.jpg') no-repeat center center fixed;
    background-size: cover;
}

.chasseur-cryo {
    background: url('../../Assets/Images/Chasseur-Cryo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* --- Titan --- */
.titan {
    background: url('../../Assets/Images/Titan.jpg') no-repeat center center fixed;
    background-size: cover;
}

.titan-solaire {
    background: url('../../Assets/Images/Titan-Solaire.jpg') no-repeat center center fixed;
    background-size: cover;
}

.titan-abyssale {
    background: url('../../Assets/Images/Titan-Abyssale.jpg') no-repeat center center fixed;
    background-size: cover;
}

.titan-cryo {
    background: url('../../Assets/Images/Titan-Cryo.jpg') no-repeat center center fixed;
    background-size: cover;
}



/* --- Button Doctrine --- */

.buttonClasses {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.buttonClasses span {
    font-size: 50px;
}

.buttonClasses a {
    margin: .5%;
}

.buttonClasses img{
    border-radius: 10px;
    height: 100px;
    width: auto;
}


@media screen and (max-width: 720px) {
    header{
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .post-it{
        margin: 0 auto;
        padding: 5%;
        left: 0;
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .button img {
        width: 15%;
    }
}


@media screen and (max-width: 720px) {
    .button img {
        width: 50%;
    }
}

