/* --- HEADER --- */

header {
    background: url('../../Assets/Images/Guardian.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #c4c4c4;
}

/* --- MAIN --- */
main {
    width: 100vw;
    height: 100%;
}

#icon {
    text-align: center;
    width: 5%;
}

#mainText {
    width: 80%;
    margin: 5% auto;
}

#mainText h3 {
    text-align: center;
    margin: 5% 0;
}

#mainText div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}

#mainText div:hover{
    background-color: #4b3d3d;
    color: white;
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

#mainText div span {
    margin-left: 10%;
}

#mainText div p, img, table {
    width: 40%;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    #mainText div {
        flex-direction: column;
        align-items: center;
    }

    #mainText div p, img, table {
        width: 100%;
        margin: 5% 0;
    }
}

#clock{
    justify-content: center !important;
}