body {
    background: url('../../Assets/Images/3635991036.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main {
    width: 100vw;
    height: 100vh;
}

.quetes {
    width: 50%;
    display: grid;
    justify-items: center;
    margin: 0 auto;
}

select {
    border-radius: 50px;
    width: 50%;
    height: 50px;
    margin: 10% 0;
    text-align: center;
}

.container div {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    padding: 5%;
}

.dblock {
    display: block !important;
}

@media screen and (max-width: 1250px) {
    main {
        height: 100%;
        margin-bottom: 10%;
    }

    .quetes {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    select {
        width: 90%;
    }

    .quetes {
        width: 90%;
    }
}